body{
	background: #fbfaf8;
}
/*多看阅读分类样式*/
.DK-classift{
	height: 1570px;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #e4ded8;
	font-size: 13px;
}
/*多看阅读分类左边样式*/
.DK-classift-left{
	height: 1505px;
	width:243px;
	float: left;
	margin-top: 30px;
	border-right: 1px solid #e4ded8;
}
.DK-classift-left b{
	font-weight: normal;
	float:left
}
.DK-classift-left span{
	float: right;
}
.DK-classift-left a{
	color:#613f23;
}
.DK-classift-left-ul li a:hover{
	color:#f7942b;
}
.DK-classift-left-ul{
	width: 228px;
}
.DK-classift-left-ul li{
	height: 40px;
	width: 228px;
	border-top: 1px dashed #E4DED8;
	line-height: 40px;
}
.DK-classift-left-ul li b{
	margin-left: 33px;
}
.DK-classift-left-ul li:nth-child(1) b{
	margin-left: 20px;
}
.DK-classift-left-ul li:nth-child(1){
	border: 0px;
}
.DK-classift-left-ul li:nth-child(23){
	border-bottom: 1px dashed #E4DED8;
}
/*特约推荐*/
.DK-classift-left h2{
	margin-top: 45px;
	margin-bottom: 20px;
}
.DK-classift-ty{
	height: 110px;
	width:200px;
	border-radius: 5px;
	margin-top: 11px;
	margin-left: 10px;
}
.DK-classift-ty img{
	height: 110px;
	width:200px;
	border-radius: 5px;
}
/*多看阅读分类右边样式*/
.DK-classift-right{
	height: 1505px;
	width:915px;
	float:right;
	margin-top:30px;
	color:#613f23;
}
/*多看阅读分类右边top样式*/
.DK-classift-right-top{
	height: 75px;
	width: 915px;
	border-bottom: 1px solid #E4DED8;
	overflow: hidden;
	position: relative;
}
.DK-classift-right span{
	display: block;
	margin-top: 15px;
}
.DK-classift-right-top .DK-classift-right-top-ul li{
	float: left;
	padding-left: 18px;
	padding-right: 18px;
	margin-top: 20px;
}
.DK-classift-right-top .DK-classift-right-top-ul li a{
	color:#613f23;
}
.DK-classift-right-top .DK-classift-right-top-ul li a:hover{
	color:#f7942b;
}
/*多看阅读分类右边body样式*/
.DK-classift-right-body{
	width: 915px;
	height: 1430px;
	overflow: hidden;
}
.DK-classift-right-body li{
	height: 165px;
	width:447px ;
	margin-top: 30px;
	float:left;
	padding-left: 10px;
}
/*图书图片样式*/
.DK-classift-img{
	height: 165px;
	width: 100px;
	float:left;
}
.DK-classift-right-body-img{
	display: block;
	height: 130px;
	width: 100px;
}
.DK-classift-right-body-img img{
	height: 130px;
	width: 100px;
	box-shadow:3px 3px 17px #000;
}
/*图书价格*/
.DK-classift-price{
	height: 35px;
	width: 100px;
	overflow: hidden;
	line-height: 10px;
}
.DK-classift-price span:nth-child(1){
	float:left;
	font-weight: bolder;

}
.DK-classift-price span:nth-child(2){
	float:right;
	text-decoration: line-through;
}
/*图书书名部分样式*/
.DK-classift-title1{
	height: 165px;
	width: 325px;
	float: left;
}
.DK-classift-title{
	height: 130px;
	width: 310px;
	padding-left: 15px;
	overflow: hidden;
}
.DK-classift-title span{
	display: block;
	height: 20px;
	width: 150px;
	background-image: url(/images/sprite-24.png);
	background-repeat: no-repeat;
	background-position: left -257px; 
}
.DK-classift-title a{
	color: #613f23;
}
.DK-classift-title a:hover{
	color:#f7942b;
}
.DK-classift-title b{
	font-weight: normal;
	font-size: 12px;
	color:#b19999;
}
.DK-classift-title p{
	font-size: 12px;
	color:#666666;
	margin-top: 10px;
}
/*加入购物车样式*/
.DK-classift-shopping{
	height: 35px;
	width: 310px;
	padding-left: 15px;
}
.DK-classift-shopping1{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-image: url(/images/sprite.png);
	background-repeat: no-repeat;
	background-position: left -115px;
	cursor: pointer;
	float:left;
}
.DK-classift-shopping1 span{
    display: none;
}
.DK-classift-shopping2{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-image: url(/images/sprite.png);
	background-repeat: no-repeat;
	background-position: -79px -115px;
	cursor: pointer;
	float: left;
	margin-left: 15px;
}
//小说导航样式
#DK-fiction .ft{
    background-color: #f4f2ef;
    border-right: 5px solid #fa7a20;
}
/*加入购物车确认弹框*/
.shopping-affirm{
    height:100%;
    width:100%;
    position: fixed;
    top:0px;
    left:0;
    background-color:rgba(0,0,0,0.5);
    display: none;
}
.shopping-affirm-body{
    height:50%;
    width:665px;
    margin:10% auto;
    background-color: #ffffff;
    border:1px solid #ed6c00;

}
.shopping-affirm-img{
    height:70%;
    width:500px;
    margin: 10% auto;
    text-align: center;
}
.shopping-affirm-img h2{
    color: #333333;
    margin-top: 20px;
}
.shopping-affirm-img a{
    display: inline-block;
    height: 40px;
    width: 200px;
    background: linear-gradient(to top,#df4833,#e66a52);
    border-radius: 4px;
    color:#fff;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    border:1px solid #dd4731;
    font-size: 13px;
}
.shopping-affirm-img .shopping-affirm-img-btn{
    background: #f7f6f3;
    color:#333333;
    border:1px solid #c2b3a7;
}
