<div class="header">
				<ul>
					<li class="li-top"><a href="#">小米网</a></li>
					<li class="solid">|</li>
					<li><a href="#">MIUI</a></li>
					<li class="solid">|</li>
					<li><a href="#">米聊</a></li>
					<li class="solid">|</li>
					<li><a href="#">游戏</a></li>
					<li class="solid">|</li>
					<li class="dk"><a href="#">多看阅读</a></li>
					<li class="solid">|</li>
					<li><a href="#">云服务</a></li>
					<li class="solid">|</li>
					<li><a href="#">小米移动版</a></li>
				</ul>
				<ul>
					<li id="DK-id"><a href="/html/login.html">登录</a><span>/</span><a href="/html/register.html">注册</a></li>
					<li class="solid">|</li>
					<li><a href="/html/shopping.html">购物车<span ></span></i></li>
					<li class="solid">|</li>
					<li><a href="#">关注</a></li>
					<li class="solid">|</li>
					<li><a href="#">快速导航</a></li>
				</ul>
				
</div>
<!--头部用户名鼠标悬停下拉框-->
<!--<div class="DK-username-body">
	<ul>
		<li><a href="#">个人信息</a></li>
		<li><a href="#">购物车</a></li>
		<li><a href="#">个人收藏</a></li>
		<li><a href="#">个人书架</a></li>
		<li><a href="#">退出</a></li>
	</ul>
</div>-->